Source: newpid
Section: utils
Priority: optional
Maintainer: Christoph Berg <myon@debian.org>
Standards-Version: 4.5.0
Build-Depends:
 debhelper-compat (= 12),
Vcs-Browser: https://github.com/df7cb/newpid
Vcs-Git: https://github.com/df7cb/newpid.git

Package: newpid
Architecture: linux-any
Depends: libcap2-bin, ${shlibs:Depends}, ${misc:Depends}
Description: run a command in a new PID namespace
 newpid is a simple suid wrapper around clone(CLONE_NEWPID) that launches a
 command in a new PID namespace. Optionally it can also use CLONE_NEWNET to
 request a new network namespace.
