#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

override_dh_auto_install:
	$(MAKE) install PREFIX=/usr DESTDIR=$(CURDIR)/debian/newpid

override_dh_auto_test:
	# skipping test at build time, needs packages installed

%:
	dh $@
