#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
ifeq ($(DEB_HOST_ARCH),arm64)
export DEB_CFLAGS_MAINT_APPEND = -fno-stack-protector
endif

override_dh_auto_install:
	$(MAKE) install PREFIX=/usr DESTDIR=$(CURDIR)/debian/newpid

override_dh_auto_test:
	# skipping test at build time, needs packages installed

%:
	dh $@
